.store-header h1 {
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-family: Helvetica, sans-serif, Arial;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
/* Subtitle for three sections */
 h2 {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
/* Background-color for subtitles */
#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
/* emphasis on price for each product at end of description */
.price-quote {
  font-family: Helvetica, sans-serif, Arial;
  font-weight: bold;
  color: blue;
}
